<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup</title>
</head>
<body>
    <h1>Setup</h1>
    <p>Add Documents to Library</p>
    <form action="" method="post">
        <p>Title</p> <input type="text">
        <p>Select Category</p>
        <select name="" id="">
            <option value="">Chandamama</option>
            <option value="">Chitti Oohalu</option>
            <option value="">Chekumuki</option>
            <option value="">Story Cards</option>
            <option value="">Children Literature</option>
            <option value="">English Language</option>

        </select>
        <p>Insert File</p> <input type="file" name="" id="">
        <input type="submit" value="Add to Library">
    </form>



    <p>Add Images to Gallery</p>
    <form action="" method="post">
        <p>Title</p> <input type="text">
        <p>Date</p> <input type="text">
        <p>Description</p> <textarea name="" id="" cols="30" rows="10"></textarea>
        <p>Upload Image</p> <input type="file">
        <input type="submit" value="Add to Gallery">
    
</body>
</html>